.AtomicHub {
    width: 960px;
    margin: 0 auto;

    @media (max-width: 960px) {
        width: 100%;
    }

    .welcome {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        justify-content: space-between;

        .welcomeTitle {
            @media (max-width: 960px) {
                width: 100%;
            }
        }

        @media (max-width: 960px) {
            flex-direction: column;
            align-items: center;
        }

        .balance {
            width: 440px;

            @media (max-width: 960px) {
                width: 90%;
                margin: 0 auto;
            }
        }


        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            /* identical to box height, or 120% */

            text-align: center;
            letter-spacing: 0.5px;

            /* White */
            color: #FFFFFF;

            @media (max-width: 960px) {
                width: 100%;
            }

            @media (min-width: 961px) {
                width: 440px;
            }

        }
    }
}