.DisplayAssets {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 960px) {
        width: 100%;
    }

    .image {
        height: 152.77px;
        // height: auto;
        width: 141px;
        border-radius: 8px;
    }

    .content {
        width: 195px;

        @media (max-width: 960px) {
            width: 140px;
        }


        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1px;

        button {
            margin-top: 18px;
        }
    }
}