
@mixin social-login-btn($socialColor) {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 10px 24px 10px 12px;
  border: none;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;

  background-color: $socialColor;
  box-shadow: 0 4px 12px rgba(#000, 0.25);

  &:hover {
    transform: translateY(-1px);
    background-color: lighten($socialColor, 10);
    box-shadow: 0 5px 20px rgba(#000, 0.25);
  }

  &:before {
    content: '';
    background-size: 16px;
    padding-left: 16px;
    margin-right: 12px;
  }
}
