# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules

# production
/build
/dist

# Typescript v1 declaration files
typings/

# misc
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.json

