.facebook-login-btn {
  padding: 10px 24px 10px 12px;
  background-color: #3E5895;
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
   img {
     width: 14px;
     margin-right: 12px;
   }
}