$facebookColor: #3E5895;
$githubColor: #222;
$googleColor: #fff;
$linkedinColor: rgb(18, 124, 180);
$twitchColor: #6441A4;
$twitterColor: rgb(85, 172, 238);

@mixin social-login-btn($socialColor) {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 10px 24px 10px 12px;
  border: none;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;

  background-color: $socialColor;
  box-shadow: 0 4px 12px rgba(#000, 0.25);

  &:hover {
    transform: translateY(-1px);
    background-color: lighten($socialColor, 10);
    box-shadow: 0 5px 20px rgba(#000, 0.25);
  }

  &:before {
    content: '';
    background-size: 16px;
    padding-left: 16px;
    margin-right: 12px;
  }
}

.social-login-btn--facebook {
  @include social-login-btn($facebookColor);
  &:before { background: url('../_images/logo-facebook.svg') no-repeat; }
}

.social-login-btn--github {
  @include social-login-btn($githubColor);
  &:before { background: url('../_images/logo-github.svg') no-repeat; }
}

.social-login-btn--google {
  @include social-login-btn($googleColor);
  color: #333;
  &:before { background: url('../_images/logo-google.svg') no-repeat; }
}

.social-login-btn--linkedin {
  @include social-login-btn($linkedinColor);
  &:before { background: url('../_images/logo-linkedin.svg') no-repeat; }
}

.social-login-btn--twitch {
  @include social-login-btn($twitchColor);
  &:before { background: url('../_images/logo-twitch.svg') no-repeat; }
}

.social-login-btn--twitter {
  @include social-login-btn($twitterColor);
  &:before { background: url('../_images/logo-twitter.svg') no-repeat; }
}