.ButtonGradient {
    background: linear-gradient(93.61deg, #08B6E7 0%, #7147EF 100%);
    /* Shadow/Button/Secondary */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;


    padding: 16px;
    min-width: 195px;
    text-align: center;
    cursor: pointer;



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;

    @media (max-width: 960px) {
        min-width: 140px;
        max-width: 100%;
    }
}

.MyButtonImage {
    width: 18px;
    margin-right: 10px;
    vertical-align: text-bottom;

}