.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-section button > div {
  display: flex;
}

.google-login-button {
  margin: 10px;
  position: absolute;
  top: 0;
}

.oreid-login-button {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.oreid-login-button button {
  display: inline-flex;
  flex-direction: row;
  align-items: center ;
}

.oreid-login-button button > div {
  margin-right: 10px;
  padding: 7px;
}

.oreid-login-button svg {
  height: 25px;
  width: 25px;
}

.google-logout-button {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}