.MyAssetsList {
    .list {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
    }

    .SeeOnAtomicHub {
        text-align: right;

        a {
            color: #fff;
        }
    }
}