.boxClass {
  padding: 20px;
  background: white;
  color: black;
  margin-bottom: 8px;
}

.groupClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultClass {
  font-size: 0.5em;
  text-align: left;
}

.titleClass {
  color: rgba(0, 80, 150, 0.7);
  font-weight: bold;
}

.subtitleClass {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 0.5em;
  margin-bottom: 8px;
}
