.AssetsToBuy {
    @media (max-width: 960px) {
        padding: 0 5%;

        h2 {
            margin-top: 60px;
        }
    }

    .list {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;

        @media (max-width: 960px) {
            justify-content: center;
        }
    }


}