.Card {
    background: #2A3566;
    width: 392px;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 80px;

    @media (max-width: 960px) {
        width: calc(100% - 48px);
        margin-bottom: 40px;
    }

}