.Header {
    background: #2A3566;
    width: calc(100% - 40px);
    padding: 20px 120px;
    position: fixed;
    top: 0;
    display: block;

    @media (max-width: 960px) {
        padding: 20px 20px;
    }

    .content {
        width: calc(100% - 240px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 960px) {
            // width: calc(100% - 40px);
            width: 100%;
            justify-content: space-between;
        }
    }
}